# This file contains credentials and other sensitive variable.
# It should be encrypted with ansible-vault if committed to git and
# included in the ansible-playbook command with the -e option

vcenter_user: 'Administrator@vsphere_server'
vcenter_password: 'REDACTED'
ilo_user: 'Administrator'
ilo_password: 'REDACTED'
idrac_user: 'root'
idrac_password: 'REDACTED'

provisioner_user_password: '<your_password_here>'
rhsm_username: "<your_rhsm_username_here>"
rhsm_password: "<your_rhsm_password_here>"
